.cardsList {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 16px;
  padding: 16px 0;
}

.cardItem {
  flex: 0 0 auto;
  width: 200px;
  /* Добавляем стили для предотвращения наложения текста */
  overflow: hidden; /* Предотвращает выход контента за пределы карточки */
}

.cardItem h3 {
  white-space: normal; /* Позволяет тексту переноситься */
  margin: 8px 0;
}

.cardItem p {
  white-space: normal; /* Позволяет тексту переноситься */
  overflow: hidden;
  text-overflow: ellipsis; /* Добавляет многоточие при переполнении */
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Ограничивает текст тремя строками */
  -webkit-box-orient: vertical;
}

.cardItem img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
