.mainContent {
  padding: 14px;
}
.cardsList {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 16px;
  padding: 16px 0;
  -ms-overflow-style: none; /* для IE и Edge */
  scrollbar-width: none; /* для Firefox */
}
.cardsList::-webkit-scrollbar {
  display: none; /* для Chrome, Safari и Opera */
}
.cardItem {
  flex: 0 0 auto;
  width: 200px;
  text-align: center;
  /* Добавляем стили для предотвращения наложения текста */
  overflow: hidden; /* Предотвращает выход контента за пределы карточки */
}

.cardItem h3 {
  white-space: normal; /* Позволяет тексту переноситься */
  margin: 8px 0;
}

.cardItem p {
  white-space: normal; /* Позволяет тексту переноситься */
  overflow: hidden;
  text-overflow: ellipsis; /* Добавляет многоточие при переполнении */
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Ограничивает текст тремя строками */
  -webkit-box-orient: vertical;
}

.cardItem img {
  width: 100%;
  height: 342px;
  object-fit: cover;
}
.cardItem button {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: green;
  border-radius: 5px;
  margin-top: 10px;
}
.addCart {
  display: flex;
  align-items: center;
  justify-content: end;
}
.addCart button {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: green;
  border-radius: 5px;
  margin-top: 10px;
}
