.cardItem {
  width: 48%; /* Ширина карточки */
  margin-bottom: 20px;
}

.cardsList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.cardItem img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.cardItem h3 {
  margin: 10px 0;
  font-size: 16px;
}

.cardItem p {
  font-size: 14px;
  line-height: 1.4;
  color: #656d77;
}
