.content {
  background-color: green;
  color: #fff;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content p {
  font-size: 20px;
}
.contents {
  background: white;
  width: 100vw;
  height: 100vh;
}
